<h1> Hi <%""%> <%= current_user.First_name%></h1>

<%= form_tag "/submisions", method: :post do %>
  <div> New Submision: <textarea name="submision"
   rows="10" cols="50"></textarea>
  <div><input type="submit" name="Submit">
  </div>
<% end %>

