.col-md-4{

border:1;
  
}


.row {
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
} 

.body{

  background:#000000;

}

.heading {
    margin: auto;
    width: 50%;
    padding: 10px;
    color: cyan;
    text-transform: uppercase;
    font-size: 100px;
    text-shadow: 1px 1px white;
}


